<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css"></head>
    <title>Moosic-The perfect music bot fo your server.</title>
    <link rel="icon" type="image/png" href="https://media.discordapp.net/attachments/1072602687717244958/1072608136055238746/1662631503027.png" />
  </head>
  <body>
    <%- include("../components/navbar.ejs") %>  



    <div class="my-bg-white">
      <div class="container mx-auto flex flex-col items-center py-12 sm:py-24">
          <div class="w-11/12 sm:w-2/3 lg:flex justify-center items-center flex-col  mb-5 sm:mb-10">
              <h1 class="text-2xl sm:text-3xl md:text-4xl lg:text-5xl xl:text-6xl text-center text-neutral-600  font-black leading-7 md:leading-10">
                  MOOSIC
              </h1>
              <p class="mt-5 sm:mt-10 lg:w-10/12 text-gray-400 font-normal text-center text-sm sm:text-lg italic">The Perfect Music Bot For Your Discord Server </p>
          </div>
          <div class="flex justify-center items-center shadow-2xl shadow-sky-100">
              <button class="bg-red-500 transition duration-150 ease-in-out hover:bg-red-600 lg:text-xl lg:font-bold  rounded text-white px-4 sm:px-10 py-2 sm:py-4 text-sm">Invite Now</button>
              <button class="ml-4 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 bg-transparent transition duration-150 ease-in-out hover:border-red-600 lg:text-xl lg:font-bold  hover:text-red-600 rounded border border-red-500 text-red-500 px-4 sm:px-10 py-2 sm:py-4 text-sm">Ask For Support</button>
          </div>
      </div>
  </div>
   



  <section class="my-bg-white body-font overflow-hidden bg-neutral-50">
    <div class="container px-5 py-24 mx-auto">
      <div class="lg:w-4/5 mx-auto flex flex-wrap">
        <div class="lg:w-1/2 w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">
          <h1 class="text-white text-stone-600 text-3xl title-font font-medium mt-5">High quality audio</h1>
        
          <h1 class="text-gray-400 text-3xl title-font font-medium mb-4">Stream your audio at the best quality possible!</h1>
          </div>
        <img alt="ecommerce" class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded" src="https://media.discordapp.net/attachments/1072602687717244958/1072602870320476321/User_flow-bro.png?width=427&height=427">
      </div>
    </div>
  </section>



  <section class="my-bg-white body-font overflow-hidden bg-neutral-50">
    <div class="container px-5 py-24 mx-auto">
      <div class="lg:w-4/5 mx-auto flex flex-wrap">
        <img alt="ecommerce" class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded" src="https://media.discordapp.net/attachments/1072602687717244958/1072602871452938270/Headphone-bro.png?width=427&height=427">
        <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
         <h1 class="text-white text-stone-600 text-3xl title-font font-medium mt-5"> 24/7 MUSIC</h1>
          <h6 class="text-gray-400 text-3xl title-font font-medium mt-5">Moosic remains online 24/7 and stay it's also capable of playing music 24/7 for free</h6>
           </div>
  </section>





  
  <section class="my-bg-white body-font overflow-hidden bg-neutral-50">
    <div class="container px-5 py-24 mx-auto">
      <div class="lg:w-4/5 mx-auto flex flex-wrap">
        <div class="lg:w-1/2 w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">
          <h1 class="text-stone-600 text-3xl title-font font-medium mt-5">Ultimate Control</h1>
        
          <h1 class="text-gray-400 text-3xl title-font font-medium ">Control everything from Moosic's prefix to the equalizer for the ultimate DJ experience.</h1>
          </div>
        <img alt="headphones" class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded" src="https://media.discordapp.net/attachments/1072602687717244958/1072602870605676624/Headphone-amico.png?width=427&height=427">
      </div>
    </div>
  </section>






  <%- include("../components/footer.ejs") %>  







  </body>
</html>