<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="https://cdn.tailwindcss.com"></script>
	</head>

<footer class="p-4 bg-neutral-50 sm:p-6">
    <div class="md:flex md:justify-between">
        <div class="mb-6 md:mb-0">
                <img src="https://media.discordapp.net/attachments/1047503944206798928/1072509122500640778/20230207_185758.png" class="mr-3 h-8" alt="Moosic Logo" />
                
         </div>
        <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
            <div>
                <h2 class="mb-6 text-sm font-semibold text-slate-600 uppercase dark:text-white">Resources</h2>
                <ul class="text-gray-400 dark:text-gray-400">
                    <li class="mb-4">
                        <a href="/invite" class="hover:underline">Invite</a>
                    </li>
                    <li>
                        <a href="/premium" class="hover:underline">Premium</a>
                    </li>
                </ul>
            </div>
            <div>
                <h2 class="mb-6 text-sm font-semibold text-slate-600 uppercase dark:text-white">Follow us</h2>
                <ul class="text-gray-400 dark:text-gray-400">
                    <li class="mb-4">
                        <a href="/github" class="hover:underline ">Github</a>
                    </li>
                    <li>
                        <a href="/support" class="hover:underline">Discord</a>
                    </li>
                </ul>
            </div>
            <div>
                <h2 class="mb-6 text-sm font-semibold text-slate-600 uppercase dark:text-white">Legal</h2>
                <ul class="text-gray-400 dark:text-gray-400">
                    <li class="mb-4">
                        <a href="/privacy" class="hover:underline">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="/terms" class="hover:underline">Terms &amp; Conditions</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
    <div class="sm:flex sm:items-center sm:justify-between">
        <span class="text-sm text-gray-400 sm:text-center dark:text-gray-400">© 2022-23 <a href="https://flowbite.com" class="hover:underline">Moosic Development</a>. All Rights Reserved.
        </span>
       </div>
</footer>